node_modules
# Node
taskhub-frontend/node_modules/
taskhub-frontend/build/
taskhub-frontend/dist/
taskhub-frontend/.env

# Laravel
taskhub/vendor/
taskhub/.env
taskhub/storage/*.key
taskhub/public/storage
